In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
CDL = pd.read_csv('/Users/macbook/Library/CloudStorage/OneDrive-TheOhioStateUniversity/NLCD and CDL data/CDL_County_Cellwise_55141.csv')
NLCD = pd.read_csv('/Users/macbook/Library/CloudStorage/OneDrive-TheOhioStateUniversity/NLCD and CDL data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

/var/folders/hs/y116vr4j4yg5fcthw_l99c5r0000gn/T/ipykernel_2509/3787423957.py:2: DtypeWarning: Columns (25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  NLCD = pd.read_csv('/Users/macbook/Library/CloudStorage/OneDrive-TheOhioStateUniversity/NLCD and CDL data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

In [3]:
# choosing 20000 rows from each dataset
CDL = CDL.sample(n=20000)
NLCD = NLCD.sample(n=20000)

# NLCD

In [4]:
NLCD.head()

,cell,GEOID,CSAFP,CBSAFP,LU_2001,LU_2004,LU_2006,LU_2008,LU_2011,LU_2013,...,MaxTexture,x,y,Slope_Degrees,FIPS_UA00,Name_UA00,Type_UA00,FIPS_UA10,Name_UA10,Type_UA10
2183292,165130427.0,55141,554,49220,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,...,coarse-loamy,460590.0,2397090.0,4.440892e-16,NaN,NaN,NaN,NaN,NaN,NaN
1154465,154170554.0,55141,554,49220,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,...,not used,451590.0,2416560.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
2237591,165801314.0,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,not used,467040.0,2398170.0,2.316185e-03,NaN,NaN,NaN,NaN,NaN,NaN
693236,149296136.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,477810.0,2408190.0,8.194672e-03,NaN,NaN,NaN,NaN,NaN,NaN
1742715,160432576.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,not used,474360.0,2403690.0,6.759872e-03,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
NLCD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 2183292 to 402798
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cell           20000 non-null  float64
 1   GEOID          20000 non-null  int64
 2   CSAFP          20000 non-null  int64
 3   CBSAFP         20000 non-null  int64
 4   LU_2001        20000 non-null  object
 5   LU_2004        20000 non-null  object
 6   LU_2006        20000 non-null  object
 7   LU_2008        20000 non-null  object
 8   LU_2011        20000 non-null  object
 9   LU_2013        20000 non-null  object
 10  LU_2016        20000 non-null  object
 11  LU_2019        20000 non-null  object
 12  FIPS_cnty      20000 non-null  int64
 13  FIPS_csa18     20000 non-null  int64
 14  FIPS_cbsa18    20000 non-null  int64
 15  AREASYMBOL     20000 non-null  object
 16  SPATIALVER     20000 non-null  int64
 17  MUSYM          20000 non-null  object
 18  mapunit_key    20000 non-null  int64
 19  nccpi          20000 non-null  float64
 20  MaxTexture     19846 non-null  object
 21  x              20000 non-null  float64
 22  y              20000 non-null  float64
 23  Slope_Degrees  19989 non-null  float64
 24  FIPS_UA00      797 non-null    float64
 25  Name_UA00      797 non-null    object
 26  Type_UA00      797 non-null    object
 27  FIPS_UA10      828 non-null    float64
 28  Name_UA10      828 non-null    object
 29  Type_UA10      828 non-null    object
dtypes: float64(7), int64(8), object(15)
memory usage: 4.7+ MB

In [6]:
print(NLCD['LU_2006'].unique())

['Wetlands' 'Developed' 'Forest' 'Cropland' 'Pasture' 'Other']

# CDL

In [7]:
CDL.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,...,LU_2009_DRFEWS,LU_2010_DRFEWS,LU_2011_DRFEWS,LU_2012_DRFEWS,LU_2013_DRFEWS,LU_2014_DRFEWS,LU_2015_DRFEWS,LU_2016_DRFEWS,LU_2017_DRFEWS,LU_2018_DRFEWS
1320597,155782785.0,453600,2396310,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
2266992,165385860.0,480540,2378280,55141,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
1400199,156582846.0,489930,2394810,55141,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,...,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed
1599497,158611829.0,487050,2391000,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
267387,143784777.0,475170,2418840,55141,Alfalfa,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Wetlands,Forest,Forest,Forest,Wetlands

In [8]:
not_needed = CDL.columns[15:]
CDL.drop(not_needed, axis=1, inplace=True)
CDL.drop(CDL.columns[:4], axis=1, inplace=True)
CDL.head()

,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018
1320597,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
2266992,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest,Evergreen Forest
1400199,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity,Developed/Med Intensity
1599497,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
267387,Alfalfa,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Deciduous Forest,Deciduous Forest,Herbaceous Wetlands

In [9]:
products = CDL['LU_2018'].unique()

In [10]:
print(CDL.shape)
print(NLCD.shape)

(20000, 11)
(20000, 30)

# Separating the rows that we see changes in plantings

In [11]:
# Initialize empty data frames to store similar and dissimilar rows
similar_df = pd.DataFrame()
dissimilar_df = pd.DataFrame()

# Loop through each row of the data frame
for index, row in CDL.iterrows():
    
    # Check if inputs in columns 4-14 are the same
    if row[4:15].nunique() == 1:
        # If they're the same, add the row to the similar data frame
        similar_df = pd.concat([similar_df, row.to_frame().transpose()])
    else:
        # If they're not the same, add the row to the dissimilar data frame
        dissimilar_df = pd.concat([dissimilar_df, row.to_frame().transpose()])

In [12]:
print(similar_df.shape)
print(dissimilar_df.shape)
dissimilar_df.head()

(7600, 11)
(12400, 11)

,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018
267387,Alfalfa,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Deciduous Forest,Deciduous Forest,Herbaceous Wetlands
1910248,Open Water,Herbaceous Wetlands,Herbaceous Wetlands,Open Water,Open Water,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands
728981,Oats,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Corn,Corn,Corn,Fallow/Idle Cropland,Alfalfa
763903,Corn,Corn,Corn,Corn,Corn,Soybeans,Corn,Soybeans,Corn,Alfalfa,Soybeans
1927568,Woody Wetlands,Herbaceous Wetlands,Woody Wetlands,Woody Wetlands,Herbaceous Wetlands,Herbaceous Wetlands,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Herbaceous Wetlands

# Finding what we can have the year after every product

In [13]:
# Define a list to store the results for each product
product_results = []

# Loop through each product in the list
for product in products:

    # Identify which column has the current product entry
    product_col = None
    for col in dissimilar_df.columns:
        if product in dissimilar_df[col].unique():
            product_col = col
            break

    # If no entry for the current product is found, print an error message and skip to the next product
    if product_col is None:
        print(f"Error: no '{product}' entry found in dataframe.")
        continue

    # Find the column index of the column that comes after the current product entry
    product_col_idx = dissimilar_df.columns.get_loc(product_col)
    next_col_idx = product_col_idx + 1

    # If the current product entry is in the last column, print a message saying nothing can be planted the year after and skip to the next product
    if next_col_idx == len(dissimilar_df.columns):
        print(f"The '{product}' entry is in the last column. Nothing can be planted the year after.")
        continue

    # Otherwise, find the unique values that can be planted in the next year after the current product
    next_year_plantings = dissimilar_df.iloc[:, next_col_idx][dissimilar_df[product_col] == product].unique()

    # Store the results for the current product in the product_results list
    product_results.append((product, next_year_plantings))

# Print the results for each product
for product, next_year_plantings in product_results:
    print(f"The following can be planted in the year after '{product}':")
    for planting in next_year_plantings:
        print(planting)

The 'Squash' entry is in the last column. Nothing can be planted the year after.
The following can be planted in the year after 'Deciduous Forest':
Deciduous Forest
Woody Wetlands
Grassland/Pasture
Alfalfa
Evergreen Forest
Mixed Forest
Other Hay/Non Alfalfa
Herbaceous Wetlands
Shrubland
Open Water
Corn
Soybeans
Clover/Wildflowers
Christmas Trees
Oats
Potatoes
The following can be planted in the year after 'Evergreen Forest':
Evergreen Forest
Deciduous Forest
Mixed Forest
Herbaceous Wetlands
Woody Wetlands
Grassland/Pasture
Open Water
Dry Beans
The following can be planted in the year after 'Developed/Med Intensity':
Developed/Med Intensity
Developed/Low Intensity
Developed/High Intensity
Developed/Open Space
The following can be planted in the year after 'Herbaceous Wetlands':
Herbaceous Wetlands
Grassland/Pasture
Woody Wetlands
Deciduous Forest
Evergreen Forest
Open Water
Alfalfa
Soybeans
Winter Wheat
Shrubland
Corn
Other Hay/Non Alfalfa
Mixed Forest
The following can be planted in the year after 'Alfalfa':
Deciduous Forest
Alfalfa
Corn
Other Hay/Non Alfalfa
Grassland/Pasture
Clover/Wildflowers
Soybeans
Herbaceous Wetlands
Winter Wheat
Oats
Sweet Corn
Barley
Spring Wheat
Developed/Open Space
Barren
Rye
Dry Beans
Fallow/Idle Cropland
Woody Wetlands
The following can be planted in the year after 'Soybeans':
Soybeans
Corn
Grassland/Pasture
Alfalfa
Other Hay/Non Alfalfa
Winter Wheat
Deciduous Forest
Oats
Dry Beans
Potatoes
Clover/Wildflowers
Barley
Barren
Developed/Open Space
The following can be planted in the year after 'Woody Wetlands':
Herbaceous Wetlands
Deciduous Forest
Evergreen Forest
Open Water
Woody Wetlands
Mixed Forest
Grassland/Pasture
Alfalfa
Shrubland
Other Hay/Non Alfalfa
The following can be planted in the year after 'Developed/Open Space':
Developed/Open Space
Developed/Low Intensity
Grassland/Pasture
Corn
Alfalfa
The following can be planted in the year after 'Corn':
Corn
Alfalfa
Soybeans
Deciduous Forest
Grassland/Pasture
Oats
Barley
Other Hay/Non Alfalfa
Herbaceous Wetlands
Peas
Potatoes
Dry Beans
Winter Wheat
Clover/Wildflowers
Barren
Mixed Forest
Sweet Corn
Developed/Open Space
Fallow/Idle Cropland
Open Water
Spring Wheat
The following can be planted in the year after 'Open Water':
Herbaceous Wetlands
Open Water
Deciduous Forest
Grassland/Pasture
Woody Wetlands
Corn
Barley
Evergreen Forest
The following can be planted in the year after 'Other Hay/Non Alfalfa':
Grassland/Pasture
Corn
Clover/Wildflowers
Herbaceous Wetlands
Other Hay/Non Alfalfa
Alfalfa
Deciduous Forest
Soybeans
Dry Beans
Oats
Fallow/Idle Cropland
The following can be planted in the year after 'Developed/Low Intensity':
Developed/Low Intensity
Developed/Open Space
Developed/Med Intensity
The following can be planted in the year after 'Grassland/Pasture':
Grassland/Pasture
Deciduous Forest
Open Water
Herbaceous Wetlands
Alfalfa
Other Hay/Non Alfalfa
Corn
Woody Wetlands
Shrubland
Misc Vegs & Fruits
Dry Beans
Evergreen Forest
Soybeans
Oats
Winter Wheat
Herbs
Barley
Fallow/Idle Cropland
Sweet Corn
Potatoes
The following can be planted in the year after 'Potatoes':
Sweet Corn
Corn
Grassland/Pasture
Alfalfa
Dry Beans
The following can be planted in the year after 'Shrubland':
Deciduous Forest
Grassland/Pasture
Corn
Alfalfa
Other Hay/Non Alfalfa
Herbaceous Wetlands
The following can be planted in the year after 'Christmas Trees':
Deciduous Forest
The following can be planted in the year after 'Mixed Forest':
Deciduous Forest
Evergreen Forest
Woody Wetlands
Mixed Forest
Herbaceous Wetlands
Grassland/Pasture
The following can be planted in the year after 'Clover/Wildflowers':
Alfalfa
Grassland/Pasture
Corn
Soybeans
Other Hay/Non Alfalfa
Deciduous Forest
Woody Wetlands
Winter Wheat
The following can be planted in the year after 'Winter Wheat':
Alfalfa
Corn
Potatoes
Grassland/Pasture
Other Hay/Non Alfalfa
Deciduous Forest
Dry Beans
Barley
Winter Wheat
Soybeans
Herbaceous Wetlands
Spring Wheat
Oats
The following can be planted in the year after 'Fallow/Idle Cropland':
Corn
Alfalfa
Herbaceous Wetlands
Dry Beans
Soybeans
Oats
Grassland/Pasture
Deciduous Forest
Other Hay/Non Alfalfa
Winter Wheat
Evergreen Forest
The following can be planted in the year after 'Sorghum':
Alfalfa
Corn
Winter Wheat
Soybeans
Other Hay/Non Alfalfa
The following can be planted in the year after 'Dry Beans':
Potatoes
Dry Beans
Barren
Grassland/Pasture
Cucumbers
The following can be planted in the year after 'Developed/High Intensity':
Developed/High Intensity
Developed/Med Intensity
The following can be planted in the year after 'Barley':
Winter Wheat
Alfalfa
The following can be planted in the year after 'Oats':
Alfalfa
Corn
Other Hay/Non Alfalfa
Soybeans
Grassland/Pasture
Oats
Deciduous Forest
Winter Wheat
The following can be planted in the year after 'Barren':
Dry Beans
Corn
The following can be planted in the year after 'Herbs':
Grassland/Pasture
The following can be planted in the year after 'Spring Wheat':
Soybeans
Oats
Alfalfa
Grassland/Pasture
Other Hay/Non Alfalfa
The following can be planted in the year after 'Cucumbers':
Dry Beans
The following can be planted in the year after 'Rye':
Alfalfa
Grassland/Pasture
The following can be planted in the year after 'Sweet Potatoes':
Grassland/Pasture
Sweet Corn

In [14]:
print(product_results[1])
np.shape(product_results)

('Evergreen Forest', array(['Evergreen Forest', 'Deciduous Forest', 'Mixed Forest',
       'Herbaceous Wetlands', 'Woody Wetlands', 'Grassland/Pasture',
       'Open Water', 'Dry Beans'], dtype=object))

/Users/macbook/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:1970: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = asarray(a).shape

(31, 2)

In [15]:
for i in range(0, np.shape(product_results)[0]):
    difference = np.setdiff1d(products, product_results[i][1])
    print('We cant have the following after', product_results[i][0])
    print(difference)
    print('\n')

We cant have the following after Deciduous Forest
['Barley' 'Barren' 'Cucumbers' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Fallow/Idle Cropland' 'Herbs' 'Rye'
 'Sorghum' 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat']


We cant have the following after Evergreen Forest
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Fallow/Idle Cropland'
 'Herbs' 'Oats' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat']


We cant have the following after Developed/Med Intensity
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Grassland/Pasture' 'Herbaceous Wetlands' 'Herbs'
 'Mixed Forest' 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes'
 'Rye' 'Shrubland' 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash'
 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Herbaceous Wetlands
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Fallow/Idle Cropland' 'Herbs' 'Oats' 'Potatoes' 'Rye' 'Sorghum'
 'Spring Wheat' 'Squash' 'Sweet Potatoes']


We cant have the following after Alfalfa
['Christmas Trees' 'Cucumbers' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity' 'Evergreen Forest'
 'Herbs' 'Mixed Forest' 'Open Water' 'Potatoes' 'Shrubland' 'Sorghum'
 'Squash' 'Sweet Potatoes']


We cant have the following after Soybeans
['Christmas Trees' 'Cucumbers' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Open Water' 'Rye' 'Shrubland' 'Sorghum' 'Spring Wheat' 'Squash'
 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Woody Wetlands
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Fallow/Idle Cropland' 'Herbs' 'Oats' 'Potatoes' 'Rye' 'Sorghum'
 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat']


We cant have the following after Developed/Open Space
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Deciduous Forest' 'Developed/High Intensity' 'Developed/Med Intensity'
 'Dry Beans' 'Evergreen Forest' 'Fallow/Idle Cropland'
 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats' 'Open Water'
 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Corn
['Christmas Trees' 'Cucumbers' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity' 'Evergreen Forest'
 'Herbs' 'Rye' 'Shrubland' 'Sorghum' 'Squash' 'Sweet Potatoes'
 'Woody Wetlands']


We cant have the following after Open Water
['Alfalfa' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Fallow/Idle Cropland' 'Herbs' 'Mixed Forest' 'Oats'
 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat']


We cant have the following after Other Hay/Non Alfalfa
['Barley' 'Barren' 'Christmas Trees' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Evergreen Forest'
 'Herbs' 'Mixed Forest' 'Open Water' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat'
 'Woody Wetlands']


We cant have the following after Developed/Low Intensity
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Grassland/Pasture'
 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats' 'Open Water'
 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Grassland/Pasture
['Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Mixed Forest' 'Rye'
 'Sorghum' 'Spring Wheat' 'Squash' 'Sweet Potatoes']


We cant have the following after Potatoes
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Deciduous Forest' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Shrubland
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Herbs' 'Mixed Forest' 'Oats'
 'Open Water' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Christmas Trees
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Grassland/Pasture'
 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats' 'Open Water'
 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Mixed Forest
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Fallow/Idle Cropland' 'Herbs' 'Oats' 'Open Water'
 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Soybeans'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat']


We cant have the following after Clover/Wildflowers
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs'
 'Mixed Forest' 'Oats' 'Open Water' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum'
 'Spring Wheat' 'Squash' 'Sweet Potatoes']


We cant have the following after Winter Wheat
['Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbs' 'Mixed Forest' 'Open Water' 'Rye'
 'Shrubland' 'Sorghum' 'Squash' 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Fallow/Idle Cropland
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Fallow/Idle Cropland'
 'Herbs' 'Mixed Forest' 'Open Water' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Sorghum
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Deciduous Forest' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Grassland/Pasture'
 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats' 'Open Water'
 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Spring Wheat' 'Squash'
 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Dry Beans
['Alfalfa' 'Barley' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Deciduous Forest' 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Rye' 'Shrubland' 'Sorghum'
 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Winter Wheat'
 'Woody Wetlands']


We cant have the following after Developed/High Intensity
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/Low Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Grassland/Pasture' 'Herbaceous Wetlands' 'Herbs'
 'Mixed Forest' 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes'
 'Rye' 'Shrubland' 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash'
 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Barley
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Grassland/Pasture' 'Herbaceous Wetlands' 'Herbs'
 'Mixed Forest' 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes'
 'Rye' 'Shrubland' 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash'
 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Oats
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Cucumbers'
 'Developed/High Intensity' 'Developed/Low Intensity'
 'Developed/Med Intensity' 'Developed/Open Space' 'Dry Beans'
 'Evergreen Forest' 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs'
 'Mixed Forest' 'Open Water' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum'
 'Spring Wheat' 'Squash' 'Sweet Potatoes' 'Woody Wetlands']


We cant have the following after Barren
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Evergreen Forest' 'Fallow/Idle Cropland'
 'Grassland/Pasture' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats'
 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Herbs
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Spring Wheat
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Open Water' 'Potatoes' 'Rye' 'Shrubland' 'Sorghum' 'Spring Wheat'
 'Squash' 'Sweet Potatoes' 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Cucumbers
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Evergreen Forest' 'Fallow/Idle Cropland'
 'Grassland/Pasture' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest' 'Oats'
 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Rye
['Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']


We cant have the following after Sweet Potatoes
['Alfalfa' 'Barley' 'Barren' 'Christmas Trees' 'Clover/Wildflowers' 'Corn'
 'Cucumbers' 'Deciduous Forest' 'Developed/High Intensity'
 'Developed/Low Intensity' 'Developed/Med Intensity'
 'Developed/Open Space' 'Dry Beans' 'Evergreen Forest'
 'Fallow/Idle Cropland' 'Herbaceous Wetlands' 'Herbs' 'Mixed Forest'
 'Oats' 'Open Water' 'Other Hay/Non Alfalfa' 'Potatoes' 'Rye' 'Shrubland'
 'Sorghum' 'Soybeans' 'Spring Wheat' 'Squash' 'Sweet Potatoes'
 'Winter Wheat' 'Woody Wetlands']

# Finding out how many times changes occur in the same field (x, y)

### Non-unique:

In [16]:
# Define a function that counts the number of changes in a row
def count_changes(row):
    counter = 0
    for i in range(len(row)-1):
        if row[i] != row[i+1]:
            counter += 1
    return counter

# Apply the count_changes function to each row in the dataframe using the apply() method and store the results in a new column called 'changes'
dissimilar_df['changes'] = dissimilar_df.apply(count_changes, axis=1)

# Print the resulting dataframe
dissimilar_df.head()

,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018,changes
267387,Alfalfa,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Deciduous Forest,Deciduous Forest,Herbaceous Wetlands,4
1910248,Open Water,Herbaceous Wetlands,Herbaceous Wetlands,Open Water,Open Water,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands,7
728981,Oats,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Corn,Corn,Corn,Fallow/Idle Cropland,Alfalfa,4
763903,Corn,Corn,Corn,Corn,Corn,Soybeans,Corn,Soybeans,Corn,Alfalfa,Soybeans,6
1927568,Woody Wetlands,Herbaceous Wetlands,Woody Wetlands,Woody Wetlands,Herbaceous Wetlands,Herbaceous Wetlands,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Herbaceous Wetlands,7

In [17]:
print('In average, we see ' + str(np.mean(dissimilar_df['changes'])) + ' changes per row')

In average, we see 5.483467741935484 changes per row

### Unique:

In [18]:
# Define a function that counts the number of unique changes in a row
def count_unique_changes(row):
    changes = {}
    for i in range(len(row)-1):
        if row[i] != row[i+1]:
            pair = (row[i], row[i+1])
            if pair not in changes:
                changes[pair] = 1
    return len(changes)-1

# Apply the count_unique_changes function to each row in the dataframe using the apply() method and store the results in a new column called 'unique_changes_count'
dissimilar_df['unique_changes_count'] = dissimilar_df.apply(count_unique_changes, axis=1)

# Print the resulting dataframe
dissimilar_df.head()

,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018,changes,unique_changes_count
267387,Alfalfa,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Deciduous Forest,Deciduous Forest,Herbaceous Wetlands,4,4
1910248,Open Water,Herbaceous Wetlands,Herbaceous Wetlands,Open Water,Open Water,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands,Open Water,Herbaceous Wetlands,7,2
728981,Oats,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Alfalfa,Corn,Corn,Corn,Fallow/Idle Cropland,Alfalfa,4,4
763903,Corn,Corn,Corn,Corn,Corn,Soybeans,Corn,Soybeans,Corn,Alfalfa,Soybeans,6,4
1927568,Woody Wetlands,Herbaceous Wetlands,Woody Wetlands,Woody Wetlands,Herbaceous Wetlands,Herbaceous Wetlands,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Herbaceous Wetlands,7,6

In [19]:
print('In average, we see ' + str(np.mean(dissimilar_df['unique_changes_count'])) + ' unique changes per row')

In average, we see 4.249758064516129 unique changes per row

# Finding the changes between two consecutive years

In [20]:
# create a list of year columns
years = dissimilar_df.columns

# loop through the years
for i in range(len(years) - 1):
    # create a new data frame with just the fields for the current year and the next year
    current_year = years[i]
    next_year = years[i+1]
    df_year = dissimilar_df[[current_year, next_year]]

    # get the most frequent changes from the current year to the next year
    changes = df_year.groupby([current_year, next_year]).size().reset_index(name='count')
    changes = changes.sort_values(by='count', ascending=False)

    # store the results in a separate data frame
    df_changes = pd.DataFrame({'From': changes[current_year], 'To': changes[next_year], 'Count': changes['count']})

    # write the data frame to a CSV file
    filename = 'changes_{}_{}.csv'.format(current_year[-4:], next_year[-4:])
    df_changes.to_csv(filename, index=False)

In [39]:
# loop through the years
for i in range(len(years) - 3):
    # create a new data frame with just the fields for the current year and the next year
    current_year = years[i]
    next_year = years[i+1]
    df_year = dissimilar_df[[current_year, next_year]]

    # get the most frequent changes from the current year to the next year
    changes = df_year.groupby([current_year, next_year]).size().reset_index(name='count')
    changes = changes.sort_values(by='count', ascending=False)

    # store the results in a separate data frame
    df_changes = pd.DataFrame({'From': changes[current_year], 'To': changes[next_year], 'Count': changes['count']})

    # only keep rows where the "From" column is different from the "To" column
    df_changes = df_changes[df_changes['From'] != df_changes['To']]

    # print the resulting data frame
    print('Changes from {} to {}:'.format(current_year[-4:], next_year[-4:]))
    print(df_changes.head(2))
    print('\n')
    
# # read in the CSV file for the changes from 2008 to 2009
# df_changes = pd.read_csv('changes_2009_2010.csv')


# WHY WE SEE LOTS OF CORN->SOYBEANS AND SOYBEANS->CORN CHANGES:
# Compared to other crops, corn needs lots of nutrients, especially nitrogen. 
# This makes soybeans a good crop to alternate with corn, because soybeans have 
# nodules on their roots that host bacteria that fix atmospheric nitrogen.

Changes from 2008 to 2009:
               From                To  Count
226  Woody Wetlands  Deciduous Forest    513
48             Corn          Soybeans    424


Changes from 2009 to 2010:
               From                To  Count
50             Corn          Soybeans    517
264  Woody Wetlands  Deciduous Forest    429


Changes from 2010 to 2011:
                  From              To  Count
75    Deciduous Forest  Woody Wetlands    542
120  Grassland/Pasture         Alfalfa    487


Changes from 2011 to 2012:
       From                     To  Count
39     Corn               Soybeans    555
8   Alfalfa  Other Hay/Non Alfalfa    532


Changes from 2012 to 2013:
                 From                To  Count
89   Deciduous Forest    Woody Wetlands    504
245    Woody Wetlands  Deciduous Forest    473


Changes from 2013 to 2014:
                From              To  Count
49              Corn        Soybeans    484
82  Deciduous Forest  Woody Wetlands    447


Changes from 2014 to 2015:
                 From              To  Count
217          Soybeans            Corn    471
77   Deciduous Forest  Woody Wetlands    463


Changes from 2015 to 2016:
               From                To  Count
240  Woody Wetlands  Deciduous Forest    593
49             Corn          Soybeans    521


Changes from 2016 to 2017:
                From              To  Count
46              Corn        Soybeans    607
64  Deciduous Forest  Woody Wetlands    538


Changes from 2017 to 2018:
                From              To  Count
38              Corn        Soybeans    628
53  Deciduous Forest  Woody Wetlands    559

In [31]:
# read in the CSV file for the changes from 2008 to 2009
df_changes = pd.read_csv('changes_2009_2010.csv')
print(df_changes['Count'].sum())

for product in products:
    df_changes = pd.read_csv('changes_2009_2010.csv')
    # only keep rows where the "From" column is Corn
    df_changes = df_changes[df_changes['From'] != df_changes['To']]
    df_changes = df_changes[df_changes['From'] == product]

    # print the sum of the "Count" column
    print('for ' + str(product) + ': ' + str(df_changes['Count'].sum()))
print('\n\n')
for product in products:
    df_changes = pd.read_csv('changes_2009_2010.csv')
    # only keep rows where the "From" column is Corn
    df_changes = df_changes[df_changes['From'] != df_changes['To']]
    df_changes = df_changes[df_changes['To'] == product]

    # print the sum of the "Count" column
    print('for ' + str(product) + ': ' + str(df_changes['Count'].sum()))

12400
for Deciduous Forest: 1093
for Evergreen Forest: 218
for Developed/Med Intensity: 8
for Herbaceous Wetlands: 325
for Alfalfa: 1069
for Soybeans: 487
for Woody Wetlands: 583
for Developed/Open Space: 40
for Corn: 917
for Open Water: 57
for Other Hay/Non Alfalfa: 357
for Developed/Low Intensity: 36
for Grassland/Pasture: 1150
for Potatoes: 31
for Shrubland: 45
for Christmas Trees: 1
for Mixed Forest: 119
for Clover/Wildflowers: 23
for Winter Wheat: 84
for Fallow/Idle Cropland: 6
for Sorghum: 0
for Dry Beans: 32
for Developed/High Intensity: 0
for Barley: 20
for Oats: 122
for Barren: 2
for Herbs: 1
for Spring Wheat: 4
for Cucumbers: 1
for Rye: 1
for Sweet Potatoes: 0
for Squash: 0



for Deciduous Forest: 1077
for Evergreen Forest: 218
for Developed/Med Intensity: 6
for Herbaceous Wetlands: 538
for Alfalfa: 503
for Soybeans: 656
for Woody Wetlands: 549
for Developed/Open Space: 30
for Corn: 875
for Open Water: 30
for Other Hay/Non Alfalfa: 641
for Developed/Low Intensity: 28
for Grassland/Pasture: 1179
for Potatoes: 20
for Shrubland: 49
for Christmas Trees: 0
for Mixed Forest: 155
for Clover/Wildflowers: 24
for Winter Wheat: 62
for Fallow/Idle Cropland: 13
for Sorghum: 0
for Dry Beans: 34
for Developed/High Intensity: 0
for Barley: 19
for Oats: 106
for Barren: 0
for Herbs: 0
for Spring Wheat: 9
for Cucumbers: 0
for Rye: 4
for Sweet Potatoes: 0
for Squash: 0