In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
nlcd = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')
cdl = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/CDL_County_Cellwise_55141.csv')
cdl_values = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/CDL_Values_2008-2018.csv')

/var/folders/hs/y116vr4j4yg5fcthw_l99c5r0000gn/T/ipykernel_59560/3823194680.py:1: DtypeWarning: Columns (25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  nlcd = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

In [4]:
nlcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2267698 entries, 0 to 2267697
Data columns (total 30 columns):
 #   Column         Dtype
---  ------         -----
 0   cell           float64
 1   GEOID          int64
 2   CSAFP          int64
 3   CBSAFP         int64
 4   LU_2001        object
 5   LU_2004        object
 6   LU_2006        object
 7   LU_2008        object
 8   LU_2011        object
 9   LU_2013        object
 10  LU_2016        object
 11  LU_2019        object
 12  FIPS_cnty      int64
 13  FIPS_csa18     int64
 14  FIPS_cbsa18    int64
 15  AREASYMBOL     object
 16  SPATIALVER     int64
 17  MUSYM          object
 18  mapunit_key    int64
 19  nccpi          float64
 20  MaxTexture     object
 21  x              float64
 22  y              float64
 23  Slope_Degrees  float64
 24  FIPS_UA00      float64
 25  Name_UA00      object
 26  Type_UA00      object
 27  FIPS_UA10      float64
 28  Name_UA10      object
 29  Type_UA10      object
dtypes: float64(7), int64(8), object(15)
memory usage: 519.0+ MB

In [5]:
nlcd.describe()

,cell,GEOID,CSAFP,CBSAFP,FIPS_cnty,FIPS_csa18,FIPS_cbsa18,SPATIALVER,mapunit_key,nccpi,x,y,Slope_Degrees,FIPS_UA00,FIPS_UA10
count,2.267698e+06,2267698.0,2267698.0,2267698.0,2267698.0,2267698.0,2267698.0,2267698.0,2.267698e+06,2.267698e+06,2.267698e+06,2.267698e+06,2.266559e+06,88264.000000,91097.000000
mean,1.537402e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,1.075583e+06,4.534697e-01,4.726069e+05,2.400147e+06,1.371715e-02,86984.329376,82039.823397
std,7.299053e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.031452e+06,1.476891e-01,1.298981e+04,1.370530e+04,1.813290e-02,17707.530284,19946.231146
min,1.397589e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.264210e+05,0.000000e+00,4.494000e+05,2.375580e+06,0.000000e+00,55144.000000,55144.000000
25%,1.476670e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.264660e+05,3.289300e-01,4.615200e+05,2.388480e+06,2.877732e-03,96832.000000,55144.000000
50%,1.539617e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.265000e+05,4.970000e-01,4.721400e+05,2.399730e+06,7.819189e-03,96832.000000,96832.000000
75%,1.599532e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,2.561642e+06,5.310000e-01,4.830000e+05,2.411550e+06,1.780000e-02,96832.000000,96832.000000
max,1.668228e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,3.182215e+06,8.420000e-01,4.992900e+05,2.426400e+06,4.243452e-01,96832.000000,96832.000000

In [20]:
nlcd.head()

,cell,GEOID,CSAFP,CBSAFP,LU_2001,LU_2004,LU_2006,LU_2008,LU_2011,LU_2013,...,MaxTexture,x,y,Slope_Degrees,FIPS_UA00,Name_UA00,Type_UA00,FIPS_UA10,Name_UA10,Type_UA10
0,139758948.0,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,loamy-skeletal,472410.0,2404200.0,0.017531,NaN,NaN,NaN,NaN,NaN,NaN
1,139758949.0,55141,554,49220,Cropland,Cropland,Cropland,Cropland,Cropland,Cropland,...,loamy-skeletal,472440.0,2404200.0,0.016046,NaN,NaN,NaN,NaN,NaN,NaN
2,139758950.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,loamy-skeletal,472410.0,2404170.0,0.020382,NaN,NaN,NaN,NaN,NaN,NaN
3,139758951.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472440.0,2404170.0,0.029940,NaN,NaN,NaN,NaN,NaN,NaN
4,139758952.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472470.0,2404170.0,0.031191,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
print(nlcd['LU_2001'].unique())
print(nlcd['LU_2004'].unique())
print(nlcd['LU_2006'].unique())
print(nlcd['LU_2008'].unique())
print(nlcd['LU_2011'].unique())
print(nlcd['LU_2013'].unique())
print(nlcd['LU_2016'].unique())
print(nlcd['MaxTexture'].unique())
print(str(max(nlcd['x']))+'<- max and min x -> '+str(min(nlcd['x'])))
print(str(max(nlcd['y']))+'<- max and min y -> '+str(min(nlcd['y'])))
print(str(max(nlcd['Slope_Degrees']))+'<- max and min slope -> '+str(min(nlcd['Slope_Degrees'])))

['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']
['loamy-skeletal' 'fine-loamy' 'not used' 'coarse-loamy'
 'sandy over loamy' 'loamy' nan 'fine-silty over sandy or sandy-skeletal'
 'sandy or sandy-skeletal' 'coarse-loamy over sandy or sandy-skeletal'
 'fine' 'fine-loamy over sandy or sandy-skeletal'
 'coarse-loamy over clayey' 'sandy']
499290.0<- max and min x -> 449399.999999999
2426400.0<- max and min y -> 2375580.0
0.424345195293427<- max and min slope -> 0.0

In [15]:
cdl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332210 entries, 0 to 2332209
Data columns (total 26 columns):
 #   Column          Dtype
---  ------          -----
 0   cell            float64
 1   x               int64
 2   y               int64
 3   GEOID           int64
 4   LU_2008         object
 5   LU_2009         object
 6   LU_2010         object
 7   LU_2011         object
 8   LU_2012         object
 9   LU_2013         object
 10  LU_2014         object
 11  LU_2015         object
 12  LU_2016         object
 13  LU_2017         object
 14  LU_2018         object
 15  LU_2008_DRFEWS  object
 16  LU_2009_DRFEWS  object
 17  LU_2010_DRFEWS  object
 18  LU_2011_DRFEWS  object
 19  LU_2012_DRFEWS  object
 20  LU_2013_DRFEWS  object
 21  LU_2014_DRFEWS  object
 22  LU_2015_DRFEWS  object
 23  LU_2016_DRFEWS  object
 24  LU_2017_DRFEWS  object
 25  LU_2018_DRFEWS  object
dtypes: float64(1), int64(3), object(22)
memory usage: 462.6+ MB

In [16]:
cdl.head(10)

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,...,LU_2009_DRFEWS,LU_2010_DRFEWS,LU_2011_DRFEWS,LU_2012_DRFEWS,LU_2013_DRFEWS,LU_2014_DRFEWS,LU_2015_DRFEWS,LU_2016_DRFEWS,LU_2017_DRFEWS,LU_2018_DRFEWS
0,139758943.0,486270,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
1,139758944.0,486300,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
2,139758945.0,486330,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
3,139758946.0,486360,2426400,55141,Corn,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
4,139758947.0,486390,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
5,139758948.0,486420,2426400,55141,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,...,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed
6,139758949.0,486450,2426400,55141,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,Developed/Open Space,...,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed,Developed
7,139758950.0,486480,2426400,55141,Deciduous Forest,Deciduous Forest,Grassland/Pasture,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Pasture,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
8,139758951.0,486510,2426400,55141,Deciduous Forest,Deciduous Forest,Woody Wetlands,Shrubland,Deciduous Forest,Deciduous Forest,...,Forest,Wetlands,Pasture,Forest,Forest,Forest,Forest,Forest,Forest,Forest
9,139758952.0,486540,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest