In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/NLCD_County_Cellwise_SpatialJoin_55141.csv')

<ipython-input-3-0cb0248acb71>:1: DtypeWarning: Columns (25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/NLCD_County_Cellwise_SpatialJoin_55141.csv')

In [ ]:
df.head(10)

,cell,GEOID,CSAFP,CBSAFP,LU_2001,LU_2004,LU_2006,LU_2008,LU_2011,LU_2013,...,MaxTexture,x,y,Slope_Degrees,FIPS_UA00,Name_UA00,Type_UA00,FIPS_UA10,Name_UA10,Type_UA10
0,139758948,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,loamy-skeletal,472410.0,2404200.0,0.017531,NaN,NaN,NaN,NaN,NaN,NaN
1,139758949,55141,554,49220,Cropland,Cropland,Cropland,Cropland,Cropland,Cropland,...,loamy-skeletal,472440.0,2404200.0,0.016046,NaN,NaN,NaN,NaN,NaN,NaN
2,139758950,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,loamy-skeletal,472410.0,2404170.0,0.020382,NaN,NaN,NaN,NaN,NaN,NaN
3,139758951,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472440.0,2404170.0,0.029940,NaN,NaN,NaN,NaN,NaN,NaN
4,139758952,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472470.0,2404170.0,0.031191,NaN,NaN,NaN,NaN,NaN,NaN
5,139758953,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472500.0,2404170.0,0.031548,NaN,NaN,NaN,NaN,NaN,NaN
6,139774911,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,fine-loamy,472410.0,2404140.0,0.010106,NaN,NaN,NaN,NaN,NaN,NaN
7,139774912,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,fine-loamy,472440.0,2404140.0,0.016156,NaN,NaN,NaN,NaN,NaN,NaN
8,139774913,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,fine-loamy,472530.0,2404140.0,0.016509,NaN,NaN,NaN,NaN,NaN,NaN
9,139774914,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,fine-loamy,472560.0,2404140.0,0.015916,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517995 entries, 0 to 517994
Data columns (total 30 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cell           517995 non-null  int64
 1   GEOID          517995 non-null  int64
 2   CSAFP          517995 non-null  int64
 3   CBSAFP         517995 non-null  int64
 4   LU_2001        517995 non-null  object
 5   LU_2004        517995 non-null  object
 6   LU_2006        517995 non-null  object
 7   LU_2008        517995 non-null  object
 8   LU_2011        517995 non-null  object
 9   LU_2013        517995 non-null  object
 10  LU_2016        517995 non-null  object
 11  LU_2019        517995 non-null  object
 12  FIPS_cnty      517995 non-null  int64
 13  FIPS_csa18     517995 non-null  int64
 14  FIPS_cbsa18    517995 non-null  int64
 15  AREASYMBOL     517995 non-null  object
 16  SPATIALVER     517995 non-null  int64
 17  MUSYM          517995 non-null  object
 18  mapunit_key    517995 non-null  int64
 19  nccpi          517995 non-null  float64
 20  MaxTexture     515220 non-null  object
 21  x              517994 non-null  float64
 22  y              517994 non-null  float64
 23  Slope_Degrees  517677 non-null  float64
 24  FIPS_UA00      20850 non-null   float64
 25  Name_UA00      20850 non-null   object
 26  Type_UA00      20850 non-null   object
 27  FIPS_UA10      32324 non-null   float64
 28  Name_UA10      32324 non-null   object
 29  Type_UA10      32324 non-null   object
dtypes: float64(6), int64(9), object(15)
memory usage: 118.6+ MB

In [ ]:
df.describe()

,cell,GEOID,CSAFP,CBSAFP,FIPS_cnty,FIPS_csa18,FIPS_cbsa18,SPATIALVER,mapunit_key,nccpi,x,y,Slope_Degrees,FIPS_UA00,FIPS_UA10
count,5.179950e+05,517995.0,517995.0,517995.0,517995.0,517995.0,517995.0,517995.0,5.179950e+05,517995.000000,517994.000000,5.179940e+05,517677.000000,20850.0,32324.0
mean,1.436975e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.359924e+05,0.579156,470648.549057,2.403127e+06,0.020844,55144.0,55144.0
std,1.939580e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.388448e+05,0.129936,12945.924142,1.295097e+04,0.016434,0.0,0.0
min,1.397589e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.264210e+05,0.000000,449400.000000,2.375580e+06,0.000000,55144.0,55144.0
25%,1.420428e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.264660e+05,0.523460,459750.000000,2.394390e+06,0.009232,55144.0,55144.0
50%,1.437048e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.264690e+05,0.569760,468420.000000,2.402280e+06,0.016603,55144.0,55144.0
75%,1.453668e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,4.265040e+05,0.646000,480780.000000,2.414430e+06,0.027889,55144.0,55144.0
max,1.470434e+08,55141.0,554.0,49220.0,55141.0,554.0,49220.0,12.0,3.053881e+06,0.842000,499140.000000,2.426340e+06,0.226862,55144.0,55144.0